@{
    ViewData["Title"] = "Cart";
}
@model List<PetShop.Models.ShoppingCarts>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart - PetShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: 'Rubik';
        }

        .section {
            font-weight: bold;
            padding: 0 15px;
        }

        .main h1 {
            color: #0a2351;
            font-size: 1.75em;
            font-weight: bold;
        }

        .container h1 {
            color: #0a2351;
            font-size: 1.75em;
            font-weight: bold;
        }

        .container th {
            color: #0a2351;
            font-size: 0.9em;
            font-weight: bold;
        }

        .container td {
            color: #0a2351;
            font-size: 0.9em;
            font-weight: bold;
        }

        .Page a {
            margin: 0 5px;
            padding: 6px 14px;
            background-color: white;
            text-decoration: none;
            color: #0a2351;
            font-size: 0.9em;
            font-weight: bold;
            border-radius: 4px;
            border: 1.5px solid #0a2351;
        }

        .Page a.active {
            background-color: #4CAF50;
            color: white;
        }

        .Page a:hover {
            background-color: #4CAF50;
            color: white;
        }

        .Check {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #0a2351;
        }

        .item {
            display: flex;
            justify-content: space-between;
            width: 305px;
            color: #0a2351;
        }

        .label {
            font-size: 0.9em;
            margin-right: 20px;
            color: #0a2351;
        }

        .value {
            font-size: 0.9em;
            color: #0a2351;
        }

        .total .label {
            font-size: 1.5em;
            font-weight: bold;
            color: #0a2351;
        }

        .total .value {
            font-size: 1.5em;
            font-weight: bold;
            color: #0a2351;
        }

        .empty {
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .empty h1 {
            text-align: center;
            color: #0a2351;
            font-size: 1.5em;
            font-weight: bold;
        }

        .empty p {
            text-align: center;
            color: black;
            font-size: 1em;
            font-weight: normal;
        }

        .btn {
            font-weight: bold;
            width: 13.5em;
        }

        .breadcrumb-item a {
            font-weight: bold;
            text-decoration: none;
            color: #0a2351;
        }

        .breadcrumb-item.active {
            color: slategray;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="section">
        <div class="main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Products")">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>

        <div class="d-flex align-items-center justify-content-between" style="margin: 8px 0;">

            <div class="main">
                <h1>Your Cart</h1>
            </div>
            @if (Model != null && Model.Count > 0)
            {
                <div class="Page d-flex align-items-center">
                    @if ((ViewData["CurrentPage"] as int?) > 1)
                    {
                        <a href="@Url.Action("CartView", new { page = (ViewData["CurrentPage"] as int?) - 1 })">Previous</a>
                    }

                    @for (int i = 1; i <= (ViewData["TotalPages"] as int?); i++)
                    {
                        <a href="@Url.Action("CartView", new { page = i })" class="@(i == (ViewData["CurrentPage"] as int?) ? "active" : "")">@i</a>
                    }

                    @if ((ViewData["CurrentPage"] as int?) < (ViewData["TotalPages"] as int?))
                    {
                        <a href="@Url.Action("CartView", new { page = (ViewData["CurrentPage"] as int?) + 1 })">Next</a>
                    }
                </div>
            }
        </div>
        <div class="container">
            @if (Model != null && Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 15%;">
                                    @if (item.Product?.ImageUrl != null)
                                    {
                                        <img src="@item.Product.ImageUrl" alt="Product Image" style="width: 80px; height: 80px; object-fit: cover;" />
                                    }
                                    else
                                    {
                                        <img src="/path/to/placeholder/image.jpg" alt="No Image Available" style="width: 80px; height: 80px; object-fit: cover;" />
                                    }
                                </td>
                                <td style="width: 25%; padding-top: 15px;">@item.Product?.Name</td>
                                <td style="width: 30%; padding-top: 15px;">@item.Product?.Description</td>
                                <td style="width: 15%; padding-top: 15px;">$@item.Product?.Price</td>
                                <td style="width: 15%; padding-top: 15px;">@item.Quantity</td>
                                <td style="width: 20%; padding-top: 15px;">$@(item.Product?.Price * item.Quantity)</td>
                            </tr>
                        }
                    </tbody>

                </table>

                <div class="d-flex align-items-start justify-content-between" style="margin-top: 24px;">
                    <form asp-action="ApplyCoupon" method="post" class="coupon-section d-flex align-items-center">
                        <input type="text" name="couponCode" placeholder="Enter Coupon Code" class="form-control" style="max-width: 12em; margin-right: 12px; border-radius: unset;" />
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="coupon feature not implemented yet" >
                            <button type="submit" class="btn btn-success" disabled style="max-width: 6em; border-radius: unset;">Redeem</button>
                        </span>
                    </form>

                    <div class="Check d-flex align-items-center">
                        <div class="item">
                            <p class="label">SubTotal</p>
                            <p class="value">$@ViewBag.TotalAmount</p>
                        </div>
                        <div class="item">
                            <p class="label">Coupon</p>
                            <p class="value">No</p>
                        </div>
                        <div class="item total">
                            <p class="label">Total</p>
                            <p class="value">$@ViewBag.TotalAmount</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <form asp-action="AddressInfo" method="post">
                        <button type="submit" class="btn btn-primary" style="width: 19em; border-radius: unset;">Check Out</button>
                    </form>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <form asp-action="ClearCart" method="post">
                        <button type="submit" class="btn btn-danger" style="width: 19em; border-radius: unset; margin-top: 2px">Clear Cart</button>
                    </form>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <a href="@Url.Action("Index", "Products")" class="btn btn-secondary btn-back" style="width: 19em; border-radius: unset; margin-top: 2.5px">Back to Products Page</a>
                </div>
            }
            else
            {
                <div class="empty">
                    <img src="~/images/empty-cart_1.png" alt="Empty Cart" class="empty-cart-image" style="max-width: 200px; margin-top: 25px; margin-bottom: 25px;" />
                    <h1 class="no-items-message">Your cart is empty</h1>
                    <p>Looks like you haven't made<br />your choice yet...</p>
                    <button class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Index", "Products")'">Start Shopping</button>
                </div>
            }
        </div>
    </div>
</body>
</html>